#about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#about-title {
  font-size: 4em;
}

#about-img {
  border-color: none;
  border-radius: 10%;
  box-shadow: rgba(29, 56, 83, 0.4) -5px 5px, rgba(29, 56, 83, 0.3) -10px 10px,
    rgba(29, 56, 83, 0.2) -15px 15px, rgba(29, 56, 83, 0.1) -20px 20px,
    rgba(29, 56, 83, 0.05) -25px 25px;
}

#about-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 188, 203, 0.5);
  transition: background-color 0.5s ease;
  border-radius: 10%;
}

#about-img:hover::after {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10%;
}

.headshot {
  border-radius: 10%;
  border: 0%;
}

.about-card-text {
  font-size: x-large;
}

/* Media queries */

@media (min-width: 768px) {
  #about-container {
    height: 80vh;
    flex-direction: column;
  }
}
