#contact-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-title {
  margin-top: 10%;
  font-size: 5em;
  font-family: "Bebas Neue";
  color: black;
}

.contact-info-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.contact-form {
  margin: 6%;
  font-family: "Bebas Neue";
  color: black;
}

#contact-icon {
  font-size: 2.5em;
  color: #fd1519;
  margin-right: 10%;
  margin-top: 60%;
  transition: transform 0.3s ease-in-out;
}

#contact-icon:hover {
  color: black;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.3);
}

#resume-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #fbc34a;
  color: black;
  width: 200px;
  height: 50px;
  font-size: 1.3em;
  border-radius: 5px;
  border-color: black;
  border-width: 0.18rem;
  margin: auto;
  transition: 0.3s;
}

#resume-btn:hover {
  background-color: black;
  color: white;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

#submit-btn {
  background-color: #fd1519;
  color: black;
  border-width: 0.18rem;
  margin-top: 10%;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#submit-btn:hover {
  background-color: black;
  color: white;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .contact-info-wrapper {
    flex-direction: column;
  }
  .contact-icon {
    margin-right: 0px;
  }
  .contact-link-container {
    display: flex;
    justify-content: space-evenly;
  }
  .contact-form {
    margin-left: 0;
  }
}
