.nav-link {
  font-weight: bold !important;
}
.navbar {
  max-width: 100%;
  display: flex !important;
  justify-content: space-evenly !important;
  border-top: 3px solid black !important;
  margin-top: 1.2rem !important;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.nav-item {
  padding: 0rem 10rem;
}
.nav-link {
  color: black !important;
  flex-grow: 1 !important;
}
.navbar-toggler {
  color: black !important;
}
